.button-testing {
    position: absolute;
    left: 50%;
    top: 50%;
}

.Mailings_Main{
    background-color: rgb(238, 255, 0);
    overflow-x: hidden;
    overflow-y: auto;

    position: absolute;
    top: 60px;

    height: calc(100% - 120px);
    width: 100%;

    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
}

.Mailings_Body {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) { 
    .Mailings_Main{
        background-color: rgb(238, 255, 0);
        /* padding: 50px 65px; */
        overflow-x: hidden;
        overflow-y: auto;
    
        position: absolute;
        left: 150px;
        top: 60px;
    
        height: calc(100% - 60px);
        width: calc(100% - 150px);
    
        -ms-overflow-style: none;
        scrollbar-width: none;

        display: flex;
        flex-direction: column;
    }

    .Mailings_Body {
        display: flex;
        flex-direction: column;
    }
}

